body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
header {
    position: fixed;
    width: 100%;
    padding: 2%;
    background-color: gray;
    z-index: 99;
}
header h2 {
    max-width: fit-content;
    margin: auto;
    font-size: 30px;
}
header nav ul {
    display: flex;
    margin-top: 1%;
    background-color: gray;
}
header nav ul li{
    max-width: fit-content;
    margin: auto;
    list-style-type: none;
    background-color: grey;
}
header .title a:visited{
    color: aqua;
}
header .title a:hover {
    color: red;
}
a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}

ul {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    width: fit-content;
    margin: auto;
    /*position: relative;
    top: 500px;
    left: -35px;*/
    list-style-type: none;
    background-color: aqua;
}
.content-box {
    max-width: 100%;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.content-box .photo-box img{
    width: fit-content;
    margin: auto;
}
main {
    padding-top: 70px;
    font-size: 30px;
}
.content-box2  {
    width: auto;
    padding: 10px;
}
.content-box2 .content1 {
    padding: 20px;
}
.content-box h1 {
    font-size: 40px;
}
.content-box p {
    font-size: 25px;
}
.photo-box {
    width: 70%;
    position: relative;
    left: 15%;
}