body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
header {
    position: fixed;
    width: 100%;
    padding: 2%;
    background-color: gray;
    z-index: 99;
}
header h2 {
    max-width: fit-content;
    margin: auto;
    font-size: 30px;
}
header nav ul {
    display: flex;
    margin-top: 1%;
    background-color: gray;
}
header nav ul li{
    max-width: fit-content;
    margin: auto;
    list-style-type: none;
    background-color: grey;
}
header .title a:visited{
    color: aqua;
}
header .title a:hover {
    color: red;
}
a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}

ul {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    width: fit-content;
    margin: auto;
    /*position: relative;
    top: 500px;
    left: -35px;*/
    list-style-type: none;
    background-color: aqua;
}
.content-box {
    max-width: 100%;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
main {
    width: 100%;
    display: flex;
    position: relative;
    top: 75px;
    height: 600px;
    background-color: blue;
}
.photo-box-uma{
    width: 30%;
    position: relative;
    height: 200px;
    top: 15%;
    left: 8%;
} 
.photo-box-uma .uma1 {
    width: 80%;
}
.photo-box-graph{
    width: 25%;
    padding: 10px;
    height: 200px;
    position: relative;
    top: 30%;
    left: 10%;

}
.photo-box-graph .graph1 {
    width: 90%;
}
.photo-box-leaflet{
    width: 20%;
    height: 200px;
    padding: 12px;
    position: relative;
    top: 12%;
    left: 17%;

}
.photo-box-leaflet .leaflet1 {
    width: 80%;
}
